@import './common/_colors.scss';

#Grid {
    display: grid;
    width: 100%;
    grid-template-columns: max-content max-content auto;
    grid-template-rows: max-content;
    gap: 0px;
    
    div {
        padding: 10px;
    }
    
    .images {
        .GridImageContainer {
            height: 100px;
            width: 75px;
            margin: 0 3px;
            display: inline-block;
            padding: 0;

            img {
                max-height: 100%;
                max-width: 100%;
                cursor: pointer;
                transition: transform 0.1s ease-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .elimination {
        background-color: $eliminationColor;
    }
    :not(.elimination) {
        background-color: $backgroundColor;
    }
}